table
  thead
    tr
      th
      th.title 商品名称
      th.price 价格
      th 库存
      th 创建时间
      th 操作
      input(type='hidden' id='totalcount' value=data.totalRecords)
      if (data.totalRecords > 0)
        each item in data.data
            tbody
              tr
                td
                  input(type='checkbox',value=item.productId)
                td.img_title
                  span.img
                    img(src=item.firstImage)
                  span.title=item.productName
                td.price
                  i=item.discountPrice
                  span='原价：'+item.price
                td.stock=item.quantity
                td.time=item.createTime
                if(item.status==1)
                  td.operation
                    a(href='#preview', data-toggle='modal') 预览
                    | -
                    a.edit(href='javascript:void(0)') 编辑
                    | -
                    a.off_shelf(href='javascript:void(0)') 下架
                    | -
                    a(href='#sharePic', data-toggle='modal') 分享图
                if(item.status==2)
                  td.operation
                    a(href='#preview', data-toggle='modal') 预览
                    | -
                    a.edit(href='javascript:void(0)') 编辑
                    | -
                    a.publish(href='javascript:void(0)') 发布
                    | -
                    a.del(href='javascript:void(0)') 删除
                    | -
                    a(href='#sharePic', data-toggle='modal') 分享图
                if(item.status==3)
                  td.operation
                    a(href='#preview', data-toggle='modal') 预览
                    | -
                    a.off_shelf(href='javascript:void(0)') 下架
                    | -
                    a#sharePic(href='#sharePic', data-toggle='modal') 分享图
                if(item.status==4)
                  td.operation
                    a(href='#preview', data-toggle='modal') 预览
                    | -
                    a(href='#edit', data-toggle='modal') 编辑
                    | -
                    a.del(href='javascript:void(0)') 删除
                    | -
                    a#sharePic(href='#sharePic', data-toggle='modal') 分享图
                input.id(type='hidden' name='id' value=item.productId)